# Python
*.pyc
*.sqlite3
__pycache__/

# Environments
env/
venv/
.venv/

# Wheels
*.whl

# Project-specific ignores
rush/
PipelineOutputs

# Xplore project data
Xplore/media/
Xplore/models_weights/*
Xplore/model_images/*
Xplore/reports/*
Xplore/inputs/*
Xplore/outputs/*

# Credentials (never commit!)
*credentials.
*.env
