Django
djangorestframework
python-dotenv
torch
torchvision
pycocotools
albumentations
segmentation-models-pytorch==0.3.3
numpy>=1.23.0
matplotlib
Pillow
django-cors-headers
reportlab
ultralytics
gunicorn

# python-ldap
python_ldap-3.4.4-cp312-cp312-win_amd64.whl
# python_ldap-3.4.4-cp311-cp311-win_amd64.whl

# django-rest-knox

