Django
djangorestframework
python-dotenv
torch
torchvision
pycocotools
albumentations
segmentation-models-pytorch==0.3.3
numpy>=1.23.0
matplotlib
Pillow
django-cors-headers
reportlab
ultralytics
gunicorn

# django-rest-knox

